html, body {height: 90%;} 

body { min-width:750px; background-color: white; color: #555; font-family:Arial,sans-serif; overflow: scroll; }

div.page_centered {margin: 0 auto; width:500px;}

div.logo {margin-top: 20%; }
img.logo { margin-left: 10px; margin-top: 20%; }

h1 {font-size: 20px; margin-left:0.5em; margin-top: -1%; color: black; }
h2 {font-size: 14px; margin-left:0.8em; color: black; font-family:courier new,Arial,sans-serif;}

b { color: black; }

p.rdf { float: left; }
p.help { float: right; }

div.help-text { float: left; }

fieldset.f1 { padding: 1em; font:80%/1 sans-serif; border:0px; }

div.col1 { float: left;  }

label.l1 { float:left; width:20%; margin-right:0.5em; padding-top:0.2em; text-align:left; font-weight:bold; }
input.txt { border-style: solid; width: 75%; border-color: black; margin-bottom: 3px; border-width: 2px;}

label.l2 { width: 100px; float: left; margin-top: 5px; text-align:left; font-weight:bold; }
input.txt2 { border-style: solid; border-color: black; border-width: 2px; width: 80px; }
input.txt22 { margin-top: 2px; border-style: solid; border-color: black; border-width: 2px; width: 80px; }

label.l3 { margin-right: 10px; margin-left: 20px; text-align:left; font-weight:bold; }
input.txt3 { border-style: solid; border-color: black; border-width: 2px; width: 168px; }
input.txt33 { margin-top: 2px; border-style: solid; border-color: black; border-width: 2px; width: 168px; }

#label.l2 { float: left; width:20%; margin-right:0.5em; padding-top:0.2em; text-align:left; font-weight:bold; }
#input.txt2 { float: left; margin-left:2.9em; border-style: solid; width: 20%; border-color: black; margin-bottom: 3px; border-width: 2px;}

#input.txt4 { float: left; margin-left:4.1em; border-style: solid; width: 20%; border-color: black; margin-bottom: 3px; border-width: 2px;}

#label.l3 { float: right; width:20%; margin-left:1em; padding-top:0.2em; text-align:left; font-weight:bold; }
#input.txt3 { float: right; border-style: solid; width: 33.3%; border-color: black; margin-bottom: 3px; border-width: 2px; margin-left:1em;}

input.b1 { background-color: #cb0d07; border-style: none; height: 30px; color: white; font-weight:bold; width: 150px; }
input.b1:disabled { background-color: #cb0d07; border-style: none; height: 30px; color: lightgrey; font-weight:bold; width: 150px; }

p.help { margin-right: 10px; }

input.red { background-color: #c41d28; border-style: none; height: 30px; font-weight:bold; width: 150px; }

select.s1 { border-style: solid; border-color: black; border-width: 2px; width: 76%; border-color: black; margin-bottom: 3px;}