/* Additional CSS */

textarea.results {
    height: 600px;
    font-family: 'Courier New', Courier, monospace;
}

/* w3schools callout */

div.info {
  margin-bottom: 0px;
  padding: 0px 12px;
}

div.warn {
  margin-bottom: 0px;
  padding: 0px 12px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.warn {
  background-color: #222;
  border-left: 6px solid #FFF200;
}

.info {
  background-color: #222;
  border-left: 6px solid #2196F3;
}
